body{
  font-family: sans-serif;
}

.log-txt{
  color: black;
  position: absolute;
  top:2%;
  left:90%;
  cursor: pointer;
}
.sign-txt{
  background: black;
  color: white;
  border: none;
  position: absolute;
  top:2%;
  left:95%;
  cursor: pointer;
}