body{
  font-family: sans-serif;
}

.name-txt{
  font-family: 'Mansalva', cursive;
  color: black;
  text-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px white;
  font-size: 30px;
}
h2,h3{
  text-align: center;
}
.log-txt{
  color: black;
  position: absolute;
  top:2%;
  left:90%;
  cursor: pointer;
}
.sign-txt{
  background: black;
  color: white;
  border: none;
  position: absolute;
  top:2%;
  left:95%;
  cursor: pointer;
}